<template>
  <div class="mask" v-if="isShow">{{text}}</div>
</template>
<style lang="scss" scoped>
.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  opacity: 0.7;
  z-index: 1000;
}
</style>