<template>
  <div class="login">
    <!-- <img alt="login logo" src="../assets/loginBackground.jpg"> -->
    <base-header setup></base-header>
    <section>
      <div class="form">
        <div class="form-cont">
          <p class="login-title">智能POS系统</p>
          <van-cell-group>
            <van-field v-model="nickname" label="用户名" placeholder="请输入用户名" required clearable/>
            <van-field
              v-model="password"
              type="password"
              label="密码"
              placeholder="请输入密码"
              required
              clearable
            />
          </van-cell-group>
          <div class="form-group">
            <van-button type="primary" round @click="login()">登 录</van-button>
          </div>
        </div>
      </div>
    </section>
    <!-- 阿里iconfont
      <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-fanhui"></use>
    </svg>-->
  </div>
</template>

<script>
// import { vuexData } from "@/common/mixin";
export default {
  // mixins: [vuexData],
  name: "loginPage", //组件名字，便于调试。有名字的组件有更友好的警告信息
  data() {
    return {
      nickname: "",
      password: "",
    };
  },
  methods: {
    async login() {
      let that = this;
      var requestdata ={
          "merchant_id": "0010000001",
          "operator_id": "test1",
          "device_id": "test1",
          "amount": 1,
          "auth_code": "284429055671645630",
          "out_trade_no": "358d5bc0-2b8b-4d0a-9938-368a68b21d4f",
          "channel_type": 0,
          "pay_subject": "二维码支付",
          "sign": "39E61003BAD6ADBB7348E0CBB0C5BA6B",
          "remark": "test",
          "good_details": [
              {
                  "goods_name": "商品名称","goods_quantity": 2,"goods_showUrl": "www.test.com",
                  "goods_class": "商品类型","goods_price": 2,"goods_subject": "ceshi"
              }
          ]
      };
      that.axios.post('/api/pay', requestdata)
          .then(function(response) {
            console.log(JSON.stringify(response));
            
          })
          .catch(function(error) {
            console.log(JSON.stringify(error));
          });

      
      if (!that.nickname || !that.password) {
        that.$toast("请输入用户名或者密码");
        return;
      }
      try {
        var requestData = {
          username: that.nickname,
          pwd: that.password
        };
        console.log(that.$_setupInfo.url + "?method=Login");
        that.axios.post(that.$_setupInfo.url + "?method=Login", "data=" + JSON.stringify(requestData))
          .then(function(response) {
            console.log(response);
            let data = response.data;
            if (data.Header.errcode == 0) {
              var staffobj = data.Data.staff;
              staffobj.staffcode = that.nickname;
              that.$_setUserInfo(staffobj);
              that.$_setPayTender(data.Data.tender);
              that.$_setGoodsArray(data.Data.item);
              that.$router.push("main"); //登录成功后跳转到主页面
            } else {
              if (
                data.Header.errmsg.indexOf("Username or Password Error") >= 0
              ) {
                alert("用户名或者密码错误！");
              } else {
                alert(data.Header.errmsg);
              }
            }
          })
          .catch(function(error) {
            console.log(error);
          });
      } catch (error) {
        console.log(error);
      }
    }
  }
  // 判断如果已经登录，就不让进入这个页面
  // beforeRouteEnter   (to, from, next) {
  //     next(async vm => {
  //        try {
  //             const { data } = await vm.Api.keeplogin();
  //             if (data.code == 200) {
  //                 vm.$router.push({ path: `/`})
  //             }
  //             } catch (error) {
  //                 vm.$toast("网络错误");
  //         }
  //     })
  // },
};
</script>


<style lang="scss" scoped>
.login {
  @include fca;
  @include bis("../assets/loginBackground.jpg");
  #head_top {
    //登录页面-给header设置透明背景
    background-color: rgba(255, 255, 255, 0);
  }
  // img {width:100%;height:100%;}
  section {
    .form {
      width: 86%;
      background: #fff;
      padding: 7px;
      @include cl;
      top: 30%;
      box-shadow: -2px 3px 23px 1px rgba(0, 0, 0, 0.1);
      .form-cont {
        padding: 8px;
        .login-title {
          letter-spacing: 1px;
          font-size: 20px;
          margin: 0 0 30px 0;
          color: #000000;
        }
        .form-group {
          margin: 8px 0px 0px 0px;
        }
      }
    }
  }
}
</style>