<template>
  <div class="about">
    <base-header head-title="智能POS系统" goBack></base-header>
    <section>
      <div class="mainWrapper" ref="mainWrapperId">
        <router-link class="items"
          v-for="(item,index) in itemArrays" :key="index"
          @click.native="startClick(index)"
          :to="{path: item.path}"
          :style="{background:item.background}"
        >
          <!-- <img :src="item.img_src" width="40" height="40"> -->
          <!-- <div :class="item.img_src" ></div> -->
          <svg class="icon mycolor" aria-hidden="true">
            <use v-bind:xlink:href="item.img_src"></use>
          </svg>
          <span>{{item.name}}</span>
        </router-link>
      </div>
    </section>
  </div>
</template>

<script>
import { setTimeout } from 'timers';
// import {vuexData} from '@/common/mixin'
export default {
  // mixins:[vuexData],
  name: "mainPage",//组件名字，便于调试。有名字的组件有更友好的警告信息
  data() {
    return {
      itemArrays: [
        {
          id: 0,
          name: "销售",
          background: "#16b603",
          img_src: "#icon-gouwuche",
          path: "/sales"
        },
        {
          id: 1,
          name: "快速销售",
          background: "#03b4d5",
          img_src: "#icon-xiaoshou",
          path: "/sales"
        },
        {
          id: 2,
          name: "退货",
          background: "#FF3847",
          img_src: "#icon-tui",
          path: "/return"
        },
        {
          id: 3,
          name: "销售小结",
          background: "#6F78E8",
          img_src: "#icon-xiaojie",
          path: "/return"
        },
        {
          id: 4,
          name: "销售总结",
          background: "#925e8b",
          img_src: "#icon-zongjie",
          path: "/return"
        },
        {
          id: 5,
          name: "设置",
          background: "#167abc",
          img_src: "#icon-shezhi",
          path: "/setup"
        },
        {
          id: 6,
          name: "补登",
          background: "#2196f3",
          img_src: "#icon-budeng",
          path: "/setup"
        },
        {
          id: 7,
          name: "银联业务",
          background: "#FF3847",
          img_src: "#icon-yinhangka",
          path: "/setup"
        }
      ],
      curSelect: null
    };
  },
  methods: {
    startClick: function(id) {
      //给按钮增加点击时样式效果
      console.log();
      var that = this;
      if (that.$refs.mainWrapperId) {
        var wDoms = that.$refs.mainWrapperId.childNodes;
        wDoms[id].style.opacity = "0.4";
        setTimeout(() => {
          wDoms[id].style.opacity = "1";
        }, 500);
      }
    }
  },

  created() {
    this.compName = '主页面'
    console.log(`--${this.compName}--created`)
  },

  mounted() {
    console.log(`--${this.compName}--mounted`);
    //TODO 判断是否有userInfo,如果没有则重新登录
    console.log(JSON.stringify(this.$_userInfo))
    this.$toast(123);
    // this.$mask("hello",true);
    // this.$mask("2",false);
    this.$myVue.$emit('loadingEvent', [true,"加载中..."]);
    setTimeout(() => {
      this.$myVue.$emit('loadingEvent', [false]);
    }, 3000);
  },

  beforeDestroy() {
    console.log(`--${this.compName}--beforeDestroy`);
  },

  destroyed() {
    console.log(`--${this.compName}--destroyed`);
  }
};
</script>

<style lang="scss" scoped>
.about {
  @include fca;
  section {
    flex: 1;
  }
  .mycolor {
    width: 3em;
    height: 3em;
    color: #ffffff;
  }
}
.mainWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .items {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 29%;
    padding-top: 10px;
    padding-bottom: 1rem;
    border-radius: 1rem;
    margin: 2.8% 2% 2.8% 2%;
    span {
      color: #fff;
    }
  }
  .opacity {
    opacity: 0.4;
  }
}
</style>