<template>
  <div class="pay">
    <base-header head-title="支付">
      <!-- 返回键-插槽-为了方便在父组件中监听点击事件，所以不用$emit -->
      <div class="head_goback" slot="pay" @click="back">
            <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1">
                <polyline points="12,18 4,9 12,0" style="fill:none;stroke:rgb(255,255,255);stroke-width:2"/>
            </svg>
      </div>
    </base-header>
    <section>
      <div v-if="$_salesTotal.netAmount" class="salesAmountDiv"><span>销售金额：{{$_salesTotal.netAmount}}</span></div>
      <div class="salesDetail"><span>支付金额：</span></div>

      <div class="tenderList" ref="tenderListId">
        <div
          class="tenderDiv"
          v-for="(tender,index) in $_payTender"
          :key="index"
          @click="clickTender(tender,index)"
        >
          <p>{{tender.XF_TENDERDESC}}</p>
        </div>
      </div>

      <div v-if="isShowDialog">
      <base-popup
        :visible.sync="isShowDialog"
        :dialog-title="checkedTender.XF_TENDERDESC+'支付'"
        is-confirm
        is-cancel
        v-on:click-confirm="itemConfirm"
      >
        <div class="dialog">
          <base-input inputType="number" textName="金额" is-decimals is-title-top v-model="payAmount"></base-input>
        </div>
        <!-- <div v-if="checkedTender.XF_TENDERDESC==='现金'">
          <span>找零：</span>
        </div> -->
      </base-popup>
    </div>
    </section>
  </div>
</template>

<script>
import { util,pay } from "@/common/mixins";
export default {
  mixins: [util,pay],
  data(){
    return{
      isShowDialog: false,
      checkedTender:{},
      paidAmont:0,       //已支付金额
      changeAmount:0,   //现金-找零
      payAmount:0,     //点击某种支付方式后，显示待支付的金额
    }
  },
  created(){
    this.payAmount = this.$_salesTotal.netAmount-this.paidAmont;
    console.log("组件初始化时，paidAmont="+this.paidAmont+"");
  },
  beforeUpdate(){
    console.log("数据变化时，订单总金额"+this.$_salesTotal.netAmount);
  },
  mounted(){
    let me = this;
    me.payDocno ="";//定义一个组件内的非响应式变量
    var domChildres = me.$refs.tenderListId.childNodes;
    for (let i = 0; i < domChildres.length; i++) {
      if(domChildres[i].nodeType==1){
        domChildres[i].style.background = me.getRandomColor(i);
      }
    };
  },
  computed: {
    
  },
  methods:{
    back:function(){
      this.$router.go(-1);
    },
    getPayDocno: function () {
        let docNo = this.payDocno;
        if (!docNo) {
            docNo = Base.getDocNo();
            this.payDocno = Base.getDocNo();
        }
        return docNo;
    },
    clickTender: function(tender, index) {
      this.isShowDialog = true;
      console.log("点击了某一个tender：" + JSON.stringify(tender));
      this.checkedTender = tender;
      this.payAmount = this.$_salesTotal.netAmount-this.paidAmont;
    },
    
    itemConfirm:function(){
      var me = this;
      me.getPayDocno();
      
      let pay_amout = me.get2Decimal(me.payAmount);
      console.log("已支付的金额："+pay_amout);

      switch (checkedTender.XF_TENDERTYPE) {
        case 0:
          if(pay_amout <= me.$_salesTotal.netAmount){//没有现金找零的业务情况
            var salestender = {
              baseCurrencyCode: this.checkedTender.XF_BASECURRCODE,
              tenderCode: this.checkedTender.XF_TENDERCODE,
              tenderType: this.checkedTender.XF_TENDERDESC,
              payAmount:pay_amout,
              baseAmount:pay_amout,
              extendParameter:',-BS' + me.userInfo.XF_ISSUESTORE + ",",
              refNo:"succeed"
            }
            me.$_addTender(salestender);

            me.paidAmont = me.get2Decimal(me.paidAmont*1 + pay_amout);  //考虑到复合支付的情况
            console.log("已支付的总金额："+me.paidAmont);

            //补登数据
            // me.fillDatas();
            if (!(me.payAmount - 0)) {
                me.checkoutCash();
            }

            this.visible = true; 
          }else{
            alert("支付金额须小于订单金额！");
            me.payAmount = me.$_salesTotal.netAmount;
          }
          break;
        case 19:
          
          break;
        case 24:
          if(checkedTender.XF_TENDERCODE==me.$_tenderObj.WPcode || checkedTender.XF_TENDERCODE==me.$_tenderObj.APcode){
            
          }
          break;
        case 23:
          
          break;
        default:
          alert('当前不支持该支付方式(TenderType:' + checkedTender.XF_TENDERTYPE + ')');
          break;
      }
      
    }
  }
};
</script>

<style lang="scss" scoped>
// @import '../style/mixin';
.pay {
  @include fca;
  section {
    flex: 1;

    .salesAmountDiv,.salesDetail{
      text-align: left;
      padding: 14px;
      border-bottom: 1px solid $blue;
      span{
        font-weight: bold;
        font-size: 18px;
      }
    }
    .tenderList {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .tenderDiv {
        width: 38%;
        padding: 2rem 0rem;
        border-radius: 1rem;
        margin: 4% 6%;
        background: #45b6b4; //给设置一个初始背景色，以防动态设置背景失败
        p{
          color: #fff;
          font-size: 18px;
        }
      }
    }
  }
}
</style>