<template>
  <div class="return">
    <base-header head-title="退货" goBack></base-header>
    <section>

    </section>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
// @import '../style/mixin';
.return {
  @include fca;
  section {
    flex: 1;
    background: pink;
  }
}
</style>