<template>
  <div class="sales">
    <base-header head-title="销售" goBack></base-header>
    <section>
      <!-- tab选项卡，包括销售记录、商品、购物车 -->
      <div class="tabWrapper">
        <div
          v-for="(item,index) in tabs"
          :key="index"
          :class="['tab-div', { active: currentTab === item.name }]"
          @click="currentTab = item.name">
          <!-- <svg class="icon mycolor" aria-hidden="true">
            <use v-bind:xlink:href="item.img_src"></use>
          </svg> -->
          <i :class="item.img_src" aria-hidden="true"></i>
          <span>{{item.tab}}</span>
        </div>
      </div>
      <!-- 卡片页面-点击tab选项时显示对应页面  -->
      <component v-bind:is="currentTabComponent" class="tab"></component>
    </section>
  </div>
</template>

<script>
import TabSales from "@/components/SalesRecord.vue";
import TabGoods from "@/components/GoodsItems.vue";
import TabCart from "@/components/ShopCart.vue";
export default {
  data() {
    return {
      currentTab: "Goods",
      tabs: [
        { tab: "销售记录", name: "Sales",img_src: "fa fa-file-text-o small_icon", },
        { tab: "商品", name: "Goods",img_src: "fa fa-shopping-bag small_icon", },
        { tab: "购物车", name: "Cart",img_src: "fa fa-shopping-cart small_icon", }
      ]
    };
  },
  components: {
    TabSales,
    TabGoods,
    TabCart
  },
  computed: {
    currentTabComponent: function() {
      return "tab-" + this.currentTab.toLowerCase();
    }
  }
};
</script>

<style lang="scss" scoped>
.sales {
  @include fca;
  section {
    flex: 1;
    color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  .tabWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4px 0px;
    
    .tab-div {
      display: flex;flex-wrap: wrap;
      padding: 4px 10px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border: 1px solid $blue;
      background: $blue;
      margin: 1px 2px;
      span{
        color: #ffffff;
        font-size: 14px;
        line-height: 22px; //文本上下居中
      }
    }
    .tab-div:hover {  //点击时的样式
      // background: #e0e0e0;
      opacity: 0.8;
    }
    .tab-div.active {  //点击时的样式
      // background: #e0e0e0;
      opacity: 0.8;
    }
  }
}
</style>