<template>
  <div class="setup">
    <base-header head-title="设置" goBack></base-header>
    <section>
      <base-input textName="服务器地址" is-star v-model="setupObj.url" @input="inputXXX"></base-input>
      <base-input textName="移动支付地址" v-model="setupObj.ttpayurl"></base-input>
      <base-input textName="商场编号" is-star v-model="setupObj.mailcode"></base-input>
      <base-input textName="店铺编号" is-star v-model="setupObj.storecode"></base-input>
      <base-input textName="店铺名称" is-star v-model="setupObj.storename"></base-input>
      <base-input textName="移动支付商户号" v-model="setupObj.SellerID"></base-input>
    </section>
  </div>
</template>

<script>
// import {vuexData} from '@/common/mixin'
export default {
  // mixins:[vuexData],
  data(){
    return{
      setupObj:{ 
        url:'',ttpayurl:'',mailcode:'',mailname:'',storecode:'',storename:'',Poscode:'',SellerID:'',
      },
    }
  },
  created(){
    Object.assign(this.setupObj,this.$_setupInfo);//注意：只能实现一维对象的深拷贝
    console.log("初始化setupObj:"+JSON.stringify(this.setupObj));
  },
  beforeUpdate(){
    var obj = Object.assign({},this.setupObj);
    console.log("修改setupObj:"+JSON.stringify(obj));
    this.$_setConfiguration(obj);
  },
  methods:{
    inputXXX:function(){
      console.log("input子组件输入了内容");
    }
  }
};
</script>

<style lang="scss" scoped>
.setup {
  @include fca;
  section {
    flex: 1;
  }
}
</style>