<template>
  <section v-if="visible">
    <!-- 遮罩层 -->
    <div class="mask" @click="clickMask"></div>
    <!-- 包裹层 -->
    <div class="popupWrapper">
      <!-- 弹窗，应用场景：添加购物车、支付等情景下的弹窗-->  
      <div class="popup">
         <div class="popHeader">
             <span>{{dialogTitle}}</span>
         </div>
         <div class="popBody">
             <!-- 插槽，可在父组件中动态的往这里添加HTML标签，如：按钮、input输入框、span文本标签等 -->
             <slot></slot>
         </div>
         <div class="popFooter">
             <button v-if="isConfirm" class="confirm" @click="clickConfim">确定</button>
             <button v-if="isCancel" class="cancel" @click="clickCancel">取消</button>
         </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
    props:{
        visible:{type:Boolean,default:false},
        dialogTitle:{type:String,default:"提示"},
        isConfirm:{type:Boolean,default:false}, 
        isCancel:{type:Boolean,default:false},
    },
    methods:{
        clickMask:function(){ //点击遮罩区域（非窗体内），隐藏弹窗
            // console.log("点击了遮罩,"+this.visible);
            this.$emit('update:visible', false); // 传递关闭事件
        },
        clickCancel:function(){ //取消按钮，隐藏弹窗
            this.$emit('update:visible', false);
        },
        clickConfim:function(){
            this.$emit("click-confirm");
        }
    }
};
</script>

<style lang="scss" scoped>
.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  opacity: 0.7;
  z-index: 1000;
}
.popupWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #FFFFFF;
  width: 16rem;
  min-height: 18rem;
  z-index: 1001;
}
.popFooter{
    display: flex;
    button{
        padding: 0.4rem 1rem;
        margin: 12px;
        border-radius: 3px;
        flex: 1;
    }
    .confirm{
        background: #16b603;
    }
    .cancel{
        background: #e44959;
    }
}

</style>

