<template>
    <header id='head_top'>
        <slot name="pay"></slot>
        <section class="head_goback" v-if="goBack" @click="$router.go(-1)">
            <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1">
                <polyline points="12,18 4,9 12,0" style="fill:none;stroke:rgb(255,255,255);stroke-width:2"/>
            </svg>
        </section>
        <section class="title_head ellipsis" v-if="headTitle">
            <span class="title_text">{{headTitle}}</span>
        </section>
        
        <!-- 跳转到设置页面 -->
        <router-link to="/setup" v-if='setup' class="rightmost">
            <div class="fa fa-cog"></div>
        </router-link> 
        <slot name="setup"></slot>
    </header>
</template>
<script>
    import {mapState, mapActions} from 'vuex'
    export default {
        name: 'NavHeader',
        props:{
            goBack:{type:Boolean,default:false},
            headTitle:{type:String},
            setup:{type:Boolean,default:false},
        }
    }

</script>
<style lang="scss" scoped>
    #head_top{
        background-color: $blue;
        z-index: 100;
        position: relative;
        @include wh(100%, 2.8rem);
    }
    
    .rightmost{
        right: 0.55rem;
        @include sc(1.4rem, #fff);
        @include ct;
        div{
            color: #fff;
        }
    }
    .title_head{
        @include center;
        width: 50%;
        color: #fff;
        text-align: center;
        .title_text{
            @include sc(1.2rem, #fff);
            text-align: center;
            font-weight: bold;
        }
    }
</style>