<template>
  <!-- :class表示：动态设置class样式，class存在与否将取决于属性的真、假。 -->
  <div class="row-cell" :class="{'colum-cell':isColum}">
    <span :class="{starlet:isStartlet}">{{textName}}</span>
    <div class="input-box">
      <!-- @input事件，当获得用户输入时触发 -->
      <input
        ref="inputId"
        :type="inputType"
        :value="value"
        :placeholder="placeholder"
        @input="inputEvent($event)"
      >
      <!-- 清除按钮：点击时清除输入框内容 -->
      <div :class="{'clear-icon':isClear}" @click="clearInput"></div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      isColum: this.isTitleTop,
      isStartlet: this.isStar,
      isClear: false,
      // focus:this.isFocus?"autofocus":"false",
    };
  },

  mounted() {//vue已经渲染了dom节点后会触发此mounted()方法一次
    // this.k = "测试";  //组件内的变量（非响应式）
    var iDom = this.$refs.inputId;
    if(this.isFocus){
      iDom.focus();
    }
  },

  updated() {
    var iDom = this.$refs.inputId;
        if (iDom.type == "number" && iDom.value) {
          if (this.minValue && (iDom.value < this.minValue)) {
            console.log("可输入的最小值是："+this.minValue);
            iDom.value = this.minValue;
          }
          if (this.isInteger) {
            if (!Number.isInteger(iDom.value * 1)) {
              // alert("请输入整数");
              iDom.value = parseInt(iDom.value);
            }
          }
          if (this.isDecimals) {
              var y = String(iDom.value).indexOf(".") + 1; //获取小数点的位置
              var count = String(iDom.value).length - y; //获取小数点后的个数
              if (y > 0) {
                console.log("这个数字是小数，有" + count + "位小数");
                if(count>2){
                  iDom.value = parseInt(iDom.value*100) / 100;
                  console.log(iDom.value)
                }
              } else {
                console.log("不是小数");
              }
          }
        }
  },

  props: {
    textName: { type: String, required: true }, //input的labelTitle
    inputType: { type: String, default: "text" }, //input的type属性值，比如:password,text,number
    value: { type: null }, //input的值，注意不要改变这个字段！！这样才能在父组件中使用v-model进行双向绑定
    //placeholder:{type:String,default:function(){return "请输入"+(this.textName?this.textName:"...")}},
    placeholder: { type: String,default: function() { return `请输入${this.textName ? this.textName : "..."}`}},
    isTitleTop: { type: Boolean, default: false }, //在父组件中给其设置值，就会把title放到input框的上面
    isStar: { type: Boolean, default: false }, //是否显示红色小星星，表示必填
    minValue: { type: Number }, //规定输入字段的最小值。
    isInteger: { type: Boolean }, //规定只能输入整数
    isDecimals: { type: Boolean }, //规定不能输入2位以上小数
    isFocus: { type: Boolean, default: false } //是否自动获取焦点
  },
  methods: {
    inputEvent: function($event) {  //监听输入框事件
      this.$emit("input", $event.target.value); //将值放在自定义的事件函数中作为参数
      var iDom = this.$refs.inputId;
      if (iDom.value) {
        this.isClear = true;  //当输入框有值时显示清除按钮（通过让绑定的class生效，从而使伪元素显示）
      } else {
        this.isClear = false;
      }
    },
    clearInput: function(event) {
      this.$refs.inputId.value = "";
      console.log("clear");
    }
  }
};
</script>

<style lang="scss" scoped>
.colum-cell {
  flex-direction: column;
}
.row-cell {
  width: 100%;
  padding: 10px 14px;
  background-color: #fff;
  color: #323233;
  font-size: 14px;
  display: flex;
  text-align: left;
  //box-sizing: border-box;
  span {
    font-size: 16px;
  }
  .input-box {
    flex: 1;
    display: flex;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgba(17, 17, 17, 0.12);
    padding: 2px;
    margin: 2px;
  }
  input {
    flex: 1;
    font-size: 14px;
  }
  .clear-icon {
    color: #969799;
    padding: 0 4px;
    // line-height: inherit;
    min-width: 1em;
  }
  .starlet::before {
    content: "*";
    color: red;
    display: inline-block;
    position: relative;
    left: -4px;
  }
  .clear-icon::before {
    content: "X";
    display: inline-block;
  }
}
</style>
