// ‘商品卡片’组件
<template>
  <div>
    <van-search placeholder="请输入搜索关键词" v-model="searchValue"/>
    <div class="goodsList" ref="goodsListId">
      <!-- goodsArray是登录时获取并存于vueX。TODO：刷新浏览器时vueX的内容会清空，方案一，当state清空时退出登录； -->
      <!-- 方案二不退出登录，把state保存到localStorage或者数据库 -->
      <div
        class="goodsDiv"
        v-for="(goods,index) in $_goodsArray"
        :key="index"
        @click="clickGoods(goods,index)"
      >
        <p>{{goods.XF_DESCI}}</p>
        <p>{{"("+goods.XF_STYLE+")"}}</p>
      </div>
    </div>
    <div v-if="isShowDialog">
      <base-popup
        :visible.sync="isShowDialog"
        dialog-title="商品"
        is-confirm
        is-cancel
        v-on:click-confirm="itemConfirm"
      >
        <div class="dialog">
          <div class="dialogTitle">
            <span>商品：</span>
            <!-- 因为这里的值是需要点击对应商品后才能获取，所以在前面设置一个判断指令(v-if="isShowDialog")再渲染 -->
            <span>{{checkedGoods.XF_DESCI}}</span>  
          </div>
          <base-input inputType="number" textName="数量" :min-value="1" is-integer is-title-top v-model="quantity"></base-input>
          <base-input inputType="number" textName="单价"  is-decimals is-title-top is-focus v-model="price"></base-input>
        </div>
      </base-popup>
    </div>
  </div>
</template>
<script>
// import { vuexData } from "@/common/mixin";
import { util } from "@/common/mixins";
export default {
  mixins: [util],
  data() {
    return {
      searchValue: "",
      isShowDialog: false,   //弹窗组件是否可见
      quantity: "1",
      price: ""
    };
  },
  mounted() {
    let me = this;
    console.log("初始化商品页面");
    me.checkedGoods = {};
    var domChildres = me.$refs.goodsListId.childNodes;
    for (let i = 0; i < domChildres.length; i++) {
      if(domChildres[i].nodeType==1){
        domChildres[i].style.background = me.getRandomColor(i);
      }
    }
  },
  computed: {
  },
  methods: {
    clickGoods: function(goods, index) {//点击商品时，弹出窗口，进行设置单价和数量
      this.isShowDialog = true;
      console.log("点击了某一个商品：" + JSON.stringify(goods));
      // this.$toast('我是弹出消息')
      this.checkedGoods = goods;
    },
    itemConfirm: function() {
      console.log("在子组件(加购弹窗)中点击了确定按钮");
      var goodsDetail = {
        salesLineNumber: 0,
        itemCode: this.checkedGoods.XF_STYLE, //货号
        desci: this.checkedGoods.XF_DESCI, //商品名
        salesman: this.$_userInfo.staffcode, //登录用户
        itemOrgId: this.checkedGoods.XF_ITEMORGID,
        itemLotNum: "*",
        netAmount: this.price.toString(),
        inventoryType: 0,
        qty: this.quantity.toString(),
        itemDiscountLess: 0,
        totalDiscountLess: 0
      };
      //把当前商品添加到购物车store
      this.$_addCart(goodsDetail);
      console.log("加购后的cartStore:" + JSON.stringify(this.$_cartStore));
      this.quantity = 1;
      this.price = "";
      this.isShowDialog = false;
    }
  }
};
</script>
<style lang="scss" scoped>
.goodsList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .goodsDiv {
    width: 29%;
    padding: 1rem 0rem;
    border-radius: 1rem;
    margin: 2.8% 2% 2.8% 2%;
    background: #45b6b4; //给设置一个初始背景色，以防动态设置背景失败
    p {
      color: #fff;
    }
  }
}
.dialogTitle{
  text-align: left;
  padding-left: 14px;
}
</style>

