// ‘购物车卡片’组件
<template>
  <div v-if="$_cartStore.length" class="cartDiv">
    <header>请输入手机号</header>
    <article>
      <div v-for="(item,index) in $_cartStore" :key="index" class="itemDiv">
        <div>
          <span>商品：</span>
          <span>{{item.desci}}</span>
        </div>
        <div>
          <span>货号：</span>
          <span>{{item.itemCode}}</span>
        </div>
        <div>
          <span>单价：</span>
          <span>{{item.netAmount}}</span>
        </div>
        <div>
          <span>数量：</span>
          <span @click="reductionCount(item,index)">-</span>
          <span>{{item.qty}}</span>
          <span @click="addCount(item,index)">+</span>
        </div>
      </div>
    </article>
    <footer>
      <span>总金额：{{salesSum}}</span>
      <button @click="toPay()">结算</button>
    </footer>
  </div>
</template>

<script>
// import { vuexData } from "@/common/mixin";
export default {
  // mixins: [vuexData],
  methods: {
    reductionCount: function(item, index) {
      this.$_updateCartReduction(index);
    },
    addCount: function(item, index) {
      this.$_updateCartAdd(index);
    },
    toPay:function(){
      this.$_toPayData();
      console.log("点击结算按钮时，订单汇总数据"+JSON.stringify(this.salesTotal));
      this.$router.push('pay'); 
    }
  },
  computed:{
    salesSum:function(){
      var sum =0;
      var cartArr = Object.assign([],this.$_cartStore);
      cartArr.forEach(element => {
        sum = sum+element.netAmount*element.qty;
      });
      return sum;
    }
  }
};
</script>

<style lang="scss" scoped>
.cartDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  header,footer {
    min-height: 20px;
    max-height: 50px;
  }
  footer{
    text-align: right;
    padding: 0px 8px;
    background-color:#f0f0f0;
  }
  article {
    flex: 1;
    overflow: auto;
  }
  button{
    padding: 8px 16px;
  }
}
.itemDiv {
  border-bottom: 1px solid $blue;
  padding: 4px 14px;
  div {
    text-align: left;
  }
}
</style>
