<template>
  <div id="app">
    <!-- 一级路由渲染载体 -->
    <router-view/>
    <svg-icon></svg-icon>
    <base-loading></base-loading>
  </div>
</template>

<script>
  import SvgIcon from '@/components/MySvg';
  // import BaseLoading from '@/components/base/BaseLoading'
  	export default {
    	components:{
            SvgIcon,
            // BaseLoading
        },
  	}
</script>

<style lang="scss">
@import '@/assets/styles/common.scss';
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
