
//=======================全局修改vant库的组件样式 start=========================
.van-button {
    padding: 0 80px;
    border-radius: 1em;
}
.van-cell:not(:last-child)::after  {
    border-bottom: 1px solid #4d4e50;
}

// toast的样式修改
.van-toast div{
    color: #fff;
}
//======================全局修改vant库的组件样式 end============================